In [2]:
%endpoint http://localhost:3030/SemScript

Endpoint set to: http://localhost:3030/SemScript

## Query 1
Which characters speak in french at least once?

In [42]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>
SELECT ?name 
WHERE { 
        ?character ex:hasName ?name.
        ?character ex:says ?something.
        FILTER regex(?something, "(french)", "i")}

name
SEAN
SEAN
KENWRIGHT

## Query 2
Which characters say the sentence "Did you know"?

In [22]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>
SELECT distinct ?name
WHERE { 
        ?character ex:hasName ?name.
        ?character ex:says ?something.
        FILTER regex(?something, "Did you know", "i")}

name
MARK
MARK
SY
GAGE
CHRISTY

## Query 3
Which are the numbers of the scenes played in a New York taxicab during night?

In [5]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>
SELECT ?number
WHERE { ?scene ex:location ?location.
        ?scene ex:time ?time.
        ?scene ex:sceneNumber ?number.
        FILTER (?location = "NY TAXICAB" && ?time = "NIGHT")}

number
136

## Query 4 
Which are the pages occupied by the scene number 0?

In [23]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?page
WHERE { ?scene ex:scene_number 0.
        ?scene ex:page ?page.}
ORDER BY ASC(?page)

page
1
2
3
4
5
6
7
8
9

## Query 5
In which part of the day does the scene number 5 take place?

In [28]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>

SELECT ?time
WHERE { ?scene ex:scene_number 5.
        ?scene ex:time ?time.}

time
DAY
ANOTHER
NIGHT

## Query 6
How many times is the word "Facebook" used?

In [8]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>

SELECT count(?something)
       WHERE { ?character ex:says ?something.
               FILTER regex(?something, "Facebook", "i")}

.1
54

## Query 7
Which is the starting page of the scene 0?

In [29]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>

SELECT (min(?page) AS ?number)
WHERE { ?scene ex:scene_number 0;
        ex:page ?page.}

number
1

## Query 8
How many times do the characters EDUARDO and DUSTIN appear in the same scene?

In [40]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>

SELECT (count(?dualDialogueScene) AS ?times)
          WHERE { ?dualDialogueScene ex:hasActor1 "EDUARDO".
                  ?dualDialogueScene ex:hasActor2 "DUSTIN".}

times
0

## Query 9
Which are the titles of all the movies inside the dataset?

In [41]:
PREFIX ex:      <http://www.semanticweb.org/elisabetta&amp;filippo/ontologies/2021/4/SemScript#>
PREFIX  :       <>

SELECT ?title
{
?g ex:title ?title.
}

title
The social network
Marriage story